*, ::after, ::before{
  box-sizing: border-box;
}

body {
 background-color: burlywood; 
 height: 100vh;
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* App css */
.App{
  background-color: #888;
  height: 500px;
  width: 350px;
  box-shadow: 5px 10px 2px 3px #888888;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header{
text-align: center;
text-transform: capitalize;
}

.sign{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

 input, button{
  width: 100%;
  margin-top: 9px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: rgb(21, 171, 222);
  width: 100%;
  margin-bottom: 2px;
  cursor: pointer;
}

button:hover{
  background-color: blue;
}

/* Chat css */
.chat-container{
background-color: red;
position: relative;
height: 100%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.message-container{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-header{
  margin-top: 33.3%;
}

.chat-text{
  margin-top: 33.3%;
  text-align: end;
}

.chat-footer{
  position: fixed;
  width: 100%;
  bottom: 30px;
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin-top: 33.3%;
  z-index: 7;
}

.chat-input{
  width: 250px;
}

.chat-btn{
  width: 40px;
}